*{
  margin: 0px;
}

body{
  background-color: #f5f6fa;
}

.app_header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app_left{
  flex: 0.9;
}

.app_stats{
  display: flex;
  justify-content: space-between;
}

.App{
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}