.table {
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color: grey;
}
.table tr{
    display: flex;
    justify-content: space-between;
}

.table td{
    padding: 0.3rem;

}

.table tr:nth-of-type(odd) {
    background-color: white;
    color: brown;
}